:root {
    --color-primario: #c2e7da;
    --color-secundario: #6290c3;
    --color-inicial: #660000;
}

.contenedor-senor {
    background-color: var(--color-secundario);
    border: 2px white solid;
    border-radius: 10%;
}