:root {
    --color-primario: #c2e7da;
    --color-secundario: #6290c3;
    --color-inicial: #660000;
}

.contenedor-principal{
  background-color: #c2e7da;
}

.titulo{
  font-weight: 400;
}

.contador-senores{
  font-size: 32px;
}

.marcar-todos{
  font-size: 18px;
}

.contenedor-senor {
  background-color: var(--color-secundario);
  border: 2px white solid;
  border-radius: 10%;
}

